<% body_class "logged_out new" %>

<div id="wrapper">
  <div id="content_wrapper">
    <% if flash[:alert] %>
      <div class="flash flash_alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash flash_notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="active_admin_content">
      <div id="login">
        <h2>Awesome CRM Login</h2>
        <%= form_tag sessions_path, :class => 'formtastic admin_user', :id => 'session_new' do %>

          <fieldset class="inputs">
            <ol>
              <li class="string required">
                <%= label_tag :username %>
                <%= text_field_tag :username, params[:username] %>
              </li>
              <li class="password required">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </li>
              <li class="boolean optional">
                <label for="remember_me">
                  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                  Remember me
                </label>
              </li>
            </ol>
          </fieldset>

          <fieldset class="buttons">
            <ol>
              <li class="commit">
                <%= submit_tag "Log in", :class => "create" %>
              </li>
            </ol>
          </fieldset>

        <% end %>
      </div>
    </div>
  </div>
</div>
